<section id="contact" style="margin-top: 0px !important;">
    <div class="container">
        <div id="letsthinkbig">
            <h2>LET''S THINK BIG</h2>
            <div class="incrser">Increase your online orders</div>
            <p style="color: #f0854e;">Join our fastest growing food ordering services</p>
            <button>Get Started</button>
        </div>
    </div>
</section>
<div class="row" id="semiFooter">
    <div class="container">
        <div>
            <div class="col-md-3">
                <h4>About Us</h4>
                <div>What is PickDish</div>
                <div>Bussiness Address</div>
                <div>Contact Us</div>
            </div>
            <div class="col-md-3">
                <h4>Partner With Us</h4>
                <div>What is PickDish</div>
                <div>Bussiness Address</div>
                <div>Contact Us</div>
            </div>
            <div class="col-md-3">
                <h4>Customers</h4>
                <div>Sign up / Login</div>
                <div>Bussiness Address</div>
                <div>Contact Us</div>
            </div>
            <div class="col-md-3">
                <h4>Download Mobile Apps</h4>
                <button class="btn1"><img src="img/Image 857.png" style="width: 141px;height: 49px;"></button>
                <button class="btn1"><img src="img/Image 858.png" style="width: 141px;margin-left: 4px;height: 49px;"></button>
                <div style="text-align: center;">
                    <ul class="list-inline social-buttons" style="margin-left: -7px;margin-top: 35px;">
                        <li style="padding-right: 8px;padding-left: 11px;"><a href="#" style="background-color: #3b5998"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li style="padding-right: 8px;padding-left: 11px;"><a href="#" style="background-color: #55acee"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li style="padding-right: 8px;padding-left: 11px;"><a href="#" style="background-color: #007bb5"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li style="padding-right: 8px;padding-left: 11px;"><a href="#" style="background-color: #dd4b39"><i class="fa fa-google"></i></a>
                        </li>
                        <li style="padding-right: 8px;padding-left: 11px;"><a href="#" style="background-color: #e95950"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="text-align: left;">
                <img src="img/4looplogo.png" style="padding-left: 13px;width: 35px;">
                <span class="copyright">Copyright &copy; 2017 4LOOP Inc. All rights reserved.</span>
            </div>
            <ul class="list-inline quicklinks" style="float: right;padding-right: 35px;">
                <li><a href="#" style="color: #dededa;">Terms</a>
                </li>
                <li><a href="#" style="color: #dededa;">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
