<nav id="mainNav" class="navbar navbar-default navbar-custom NavHeader">
    <div class="container" ng-init="gridview = true; listview = false; mapview = false;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll" style="margin-top: 10px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img class="logoer" src="img/Group 10.png"> PickDish</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!showuser">
                    <a href="" class="page-scroll headermenu" ng-click="openLoginModal()" style="color: #f26822;margin-right: 15px;margin-top: 7px;">Login</a>
                </li>
                <li ng-if="!showuser">
                    <a class="page-scroll headermenu" ng-click="openSignupModal()" style="margin-top: 7px;">
                        <button class="signUpbtn">Signup</button>
                    </a>
                </li>
                <!-- <li ng-if="!showuser">
                    <a href="" class="page-scroll headermenu" ng-click="cartModal()">
                        <img class="basket2" src="img/shopping-basket.png">
                    </a>
                </li> -->
                <li class="dropdown" ng-if="showuser">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="color: #F26822;min-width: 200px !important;text-align: right;">
                        <strong id="profiler">Nombre</strong>
                        <img src="img/man.png" style="width: 41px;margin-top: -5px;">
                        <span id="profiler" class="glyphicon glyphicon-triangle-bottom" style="font-size: 11px;"></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px !important;z-index: 9999 !important;">
                        <li style="padding: 10px;" href="">
                            My Favorites
                        </li>
                        <li style="padding: 10px;" ui-sref="main.my-orders">
                            My Orders
                        </li>
                        <li style="padding: 10px;" href="" ui-sref="main.users">
                            My Account
                        </li>
                        <li style="padding: 10px;" href="" ui-sref="home">
                            Logout
                        </li>
                    </ul>
                </li>
                <li class="dropdown-toggle" ng-if="showuser">
                    <a href="" class="page-scroll headermenu dropdown-toggle" ng-click="cartModal()">
                        <img class="basket2" src="img/shopping-basket.png">
                        <div id="noTif">2</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
