<div id="subHeader" ng-init="profile = true;">
    <div class="container">
        My Orders
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 50px;">
            <ul class="list-group" style="padding-top: 10px;padding-bottom: 10px;background: #fff;outline: 0;" ng-click="openMyordersModal()">
                <li class="list-group-item" ng-repeat="items in lists" style="display: flex;padding: 20px 30px;">
                    <!-- <img src="/img/Image 401.png"> -->
                    <div class="lister" style="background-image: url(../img/Mcdonald.png);background-size: 180px 145px;background-position-x: -25px;"></div>
                    <div style="padding: 10px 30px;">
                        <div style="font-size: 22px;">McDonald's - Divisoria</div>
                        <ul class="" style="list-style: none;padding-left: 0;margin-top: 10px;">
                            <li style="display: flex;"><img src="img/spoon-and-fork-crossed.png" style="width: 17px;height: 18px;">
                                <div class="div">Fast Food</div>
                            </li>
                            <li style="display: flex;margin-top: 10px;"><i class="glyphicon glyphicon-map-marker" style="font-size: 16px;color: #7a7977;"></i>
                                <div class="div">Don Apolinar Velez cor. A.Mabini St. Cagayan de Oro City</div>
                            </li>
                        </ul>
                    </div>
                    <div class="listerRight">
                        <div>Ordered: May 26, 2017 : 1:30 PM</div>
                        <div>2 items, $24</div>
                        <div style="color: #FA7751;font-size: 15px;"><i>Pending</i></div>
                        <div><img src="img/delivery-motorbikeActive.png" style="width: 23px;margin-right: 10px;margin-top: -4px;"><i class="glyphicon glyphicon-menu-right" style="color: #FA7751"></i></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div style="margin: auto;width: 35.8%;margin-bottom: 20px;">
                <ul class="pagination">
                    <li><a>Previous</a></li>
                    <li><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a>6</a></li>
                    <li><a>Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
@media (min-width: 768px) {
    .modal-dialog {
        width: 834px;
        margin: 30px auto;
    }
}

.navbar-custom {
    background-color: white;
}
</style>
