<div ng-include="'./modules/template/header.html'"></div>
<section id="portfolio" class="bg-light-gray">
    <div ui-view></div>
</section>
<div ng-include="'./modules/template/footer.html'"></div>
<!-- LOGIN -->
<!-- LOGIN -->
<!-- LOGIN -->
<!-- <script type="text/ng-template" id="myPopoverTemplate.html" right-top>
<div style="padding: 5px;
    background: #F26822;
    color: #fff;">Login</div>
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchIndustry" />
        </div>
        <button ng-show="tagselected.length > 0" class="btn btn-default" style="padding: 4px 10px;border-radius: 3px;margin-top: 10px;" ng-click="clearAll()">Clear All</button>
        <div class="checkbox" ng-repeat="tag in tagscopy | filter:searchIndustry ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedTag(tag)" ng-model="tag.checked" fa-track-event="event"> {{tag.tags}}
            </label>
        </div>
    </div>
</script> -->
<!-- /.container -->
