<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Cart</h3>
    <i class="glyphicon glyphicon-remove" ng-click="cancel()" style="float: right;
    position: absolute;
    right: 10px;
    top: 15px;"></i>
</div>
<!-- LIST START HERE -->
<!-- LIST START HERE -->
<!-- LIST START HERE -->
<!-- LIST START HERE -->
<div class="listHolderzz">
    <div id="ListModal">
        <img src="img/miniburger.png">
        <div style="padding-left: 65px;">
            <div class="title">Meaty Chee</div>
            <div class="price">$ 20.00</div>
            <div class="action col-md-4" style="padding: 0;margin-top: 5px;">
                <div class="input-group" style="width: 90%;">
                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number ListModalIncremBtn"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number ListModalInputIncrem" value="10" min="1" max="100">
                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number ListModalIncremBtn" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="floater">
            <i class="glyphicon glyphicon-trash"></i>
            <div>$ 40.00</div>
        </div>
    </div>
    <div id="ListModal">
        <img src="img/miniburger.png">
        <div style="padding-left: 65px;">
            <div class="title">Meaty Chee</div>
            <div class="price">$ 20.00</div>
            <div class="action col-md-4" style="padding: 0;margin-top: 5px;">
                <div class="input-group" style="width: 90%;">
                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number ListModalIncremBtn"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number ListModalInputIncrem" value="10" min="1" max="100">
                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number ListModalIncremBtn" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="floater">
            <i class="glyphicon glyphicon-trash"></i>
            <div>$ 40.00</div>
        </div>
    </div>
    <div id="ListModal">
        <img src="img/miniburger.png">
        <div style="padding-left: 65px;">
            <div class="title">Meaty Chee</div>
            <div class="price">$ 20.00</div>
            <div class="action col-md-4" style="padding: 0;margin-top: 5px;">
                <div class="input-group" style="width: 90%;">
                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number ListModalIncremBtn"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number ListModalInputIncrem" value="10" min="1" max="100">
                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number ListModalIncremBtn" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="floater">
            <i class="glyphicon glyphicon-trash"></i>
            <div>$ 40.00</div>
        </div>
    </div>
</div>
<div style="padding: 15px">
    <div class="row" id="customTable">
        <div class="col-md-6">
            <div>Sub Total</div>
            <div>Tax</div>
            <div>Delivery Fee</div>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <div>$24.00</div>
            <div>$0.00</div>
            <div>$0.00</div>
        </div>
        <div class="col-md-12">
            <hr>
            <h4>Total <span style="float:right;">$ 28.00</span></h4>
            
        </div>
    </div>
</div>
<div class="modal-body" style="padding: 0px 15px 20px !important;">
    <button class="login" style="margin-top: 5px;" ui-sref="main.checkout" ng-click="cancel()">Checkout</button>
</div>
