<!-- <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Login</h3>
    <i class="glyphicon glyphicon-remove" ng-click="cancel()" style="float: right;
    position: absolute;
    right: 10px;
    top: 15px;"></i>
</div> -->
<!-- <div class="modal-body">
    <div class="form-group">
        <input type="text" class="form-control" id="usr" placeholder="Email or Username" style="height: 38px">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="pwd" placeholder="Password" style="height: 38px">
    </div>
    <div>
        <a class="">Don't have an account?</a>
        <a style="float: right;">Forgot Password?</a>
    </div>
    <button class="login" ui-sref="main.menu" ng-click="cancel()">Login</button>
    <div style="text-align: center;margin-top: 40px;margin-bottom: 10px;">or</div>
</div>
<div class="dividerzzz">Login using your social media accounts.</div>
<div style="text-align: center;padding: 30px;">
    <ul class="list-inline social-buttons">
        <li><a href="#" style="background-color: #3b5998"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="#" style="background-color: #55acee"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="#" style="background-color: #007bb5"><i class="fa fa-linkedin"></i></a>
        </li>
        <li><a href="#" style="background-color: #dd4b39"><i class="fa fa-google"></i></a>
        </li>
    </ul>
</div> -->
<div class="modal-body">
    <div id="customCArd" style="box-shadow: none;margin-bottom: 15px;">
        <div>
            <img src="img/burger.png" style="width: 140px;height: 145px">
        </div>
        <div class="content" style="font-size: 114%;">
            <h3 style="font-size: 21px;margin-top: -17px;">Meaty Cheese Burger</h3>
            <div style="margin-bottom: 7px;"><span>$ 8.00</span></div>
            <small>Some food description Some food description Some food description Some food description</small>
        </div>
    </div>
    <div style="font-size: 17px;line-height: 40px;">
        Special Instructions
        <textarea class="form-control" rows="5" placeholder="Add notes (extra sauce, no sugar)"></textarea>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                </button>
                </span>
                <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                </button>
                </span>
            </div>
        </div>
    </div>
</div>
