<div id="subHeader" ng-init="profile = true;">
    My Account
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 75px;margin-bottom: 75px;">
            <div class="row">
                <div class="col-md-3">
                    <div style="text-align:center; margin-bottom:40px">
                        <img src="img/manProfile.png" style="width: 170px;height: 170px;">
                        <div style="margin-top: 15px;font-size: 20px;">John Doe</div>
                    </div>
                    <ul class="list-group" style="padding-left: 35px;font-size: 17px;line-height: 0;">
                        <li class="list-group-item" style="background: transparent;">
                            <a href="" ng-click="profile = true; payments = false" class="list-group-item" style="background: transparent;"><span class="glyphicon glyphicon-user" style="margin-right: 12px;"></span> Profile</a>
                        </li>
                        <li class="list-group-item" style="background: transparent;">
                            <a href="" ng-click="profile = false; payments = true" class="list-group-item" style="background: transparent;"><span class="glyphicon glyphicon-briefcase" style="margin-right: 12px;"></span> Payments</a>
                        </li>
                        <li class="list-group-item" style="background: transparent;">
                            <a href="" class="list-group-item" style="background: transparent;"  ui-sref="home"><span class="glyphicon glyphicon-off"  style="margin-right: 12px;"></span> Logout</a>
                        </li>
                    </ul>
                </div>
                <div ng-show="profile">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="color:#F26822; text-transform: none;margin-bottom: 15px;">General Information</h4>
                                <div class="col-md-6" style="padding: 0">
                                    <div class="col-md-3" style="padding: 0">
                                        <div style="margin-bottom:15px; font-weight:500;">
                                            Name
                                        </div>
                                        <div style="font-weight:500;">
                                            Email Address
                                        </div>
                                    </div>
                                    <div class="col-md-8" style="padding: 0;color: #797979;">
                                        <div style="margin-bottom:15px; font-weight:400;">
                                            John Doe
                                        </div>
                                        <div style="font-weight:400;">
                                            johndoe@mail.com
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding: 0">
                                    <div class="col-md-3" style="padding: 0">
                                        <div style="margin-bottom:15px; font-weight:500;">
                                            Mobile
                                        </div>
                                        <div style="font-weight:500;">
                                            Recovery Email
                                        </div>
                                    </div>
                                    <div class="col-md-8" style="padding: 0;color: #797979;">
                                        <div style="margin-bottom:15px; font-weight:400;">
                                            0991234567
                                        </div>
                                        <div style="font-weight:400;">
                                            johndoe22@mail.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9" style="margin-top: 50px">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="color:#F26822; text-transform: none;margin-bottom: 15px;">Address</h4>
                                <div class="col-md-2" style="padding: 0;width: 12.5%;">
                                    <div style="margin-bottom:15px; font-weight:500;">
                                        Home
                                    </div>
                                    <div style="margin-bottom:15px; font-weight:500;">
                                        Work
                                    </div>
                                    <div style="font-weight:500;">
                                        Office
                                    </div>
                                </div>
                                <div class="col-md-10" style="padding: 0;color: #797979;">
                                    <div style="margin-bottom:15px">
                                        Level 4, Pioneer House CDO, Don Apolinar Velez cor. A.Mabini St., Cagayan de Oro City, PH, 9000
                                    </div>
                                    <div style="margin-bottom:15px">
                                        Level 4, Pioneer House CDO, Don Apolinar Velez cor. A.Mabini St., Cagayan de Oro City, PH, 9000
                                    </div>
                                    <div>
                                        Level 4, Pioneer House CDO, Don Apolinar Velez cor. A.Mabini St., Cagayan de Oro City, PH, 9000
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9" style="margin-top: 50px">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 style="color:#F26822; text-transform: none">Connected Accounts</h4>
                                <ul class="list-inline social-buttons" style="margin-left: -5px;margin-top: 15px;text-align: left;">
                                    <li><a href="#" style="background-color: #3b5998;text-align: center;"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#" style="background-color: #55acee;text-align: center;"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#" style="background-color: #007bb5;text-align: center;"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li><a href="#" style="background-color: #dd4b39;text-align: center;"><i class="fa fa-google"></i></a>
                                    </li>
                                    <li><a href="#" style="background-color: #e95950;text-align: center;"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div style="padding: 15px;background: rgba(241, 192, 29, 0.25);margin-top: 12px;">
                                    <div>Please use PickDish mobile app to update the information above.</div>
                                    <a style="color: #f26735;">Download app here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="payments">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="color:#F26822; text-transform: none;margin-bottom: 15px;">Payment Methods</h4>
                                <div class="col-md-12" style="padding: 0">
                                    <div style="margin-bottom:15px; font-weight:500;display: flex;">
                                        Credit Cards
                                        <div style="margin-left: 35px">
                                            <img src="img/redcard.png" style="margin-right: 10px;width: 100px;">
                                            <img src="img/bluecard.png" style="margin-right: 10px;width: 100px;">
                                            <img src="img/greencard.png" style="margin-right: 10px;width: 100px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding: 0;margin-top: 30px;">
                                    <div style="margin-bottom:15px; font-weight:500;display: flex;">
                                        Paypal
                                        <div style="margin-left: 70px">
                                            <img src="img/Pcard.png" style="margin-right: 10px;width: 100px;margin-top: -23px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="accountFooter">
                                Please use the PickDish app to add more payments methods
                                <div><img src="img/cardList.png" style="width: 175px;margin-top: 7px;margin-bottom: 9px;"></div>
                                <a style="color: #f26735;">Download app here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.bg-light-gray {
    background-color: #fff;
}
</style>
